<ion-header>
  <ion-navbar color="appcolor">
    <ion-title style="text-align: center">
      Favoritos
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addNote()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
	<ion-item-sliding *ngFor="let fav of favoritos">
			  <ion-item>
			    <ion-icon name='bus' item-left [style.color]="{Leste:'rgb(236,27,36)',Norte:'rgb(34,177,75)',Sul:'#FFD500',Sudeste:'rgb(0,128,254)',Terminal:'rgb(0,128,254)'}[fav.Zona]"></ion-icon>
			  	{{fav.CodigoLinha}} - {{fav.Denomicao}}
			  </ion-item>
		    <ion-item-options>
                <button ion-button icon-only (click)="deletarFavorito(fav.CodigoLinha,fav)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>